<phpunit bootstrap="/Applications/MAMP/htdocs/omeka_testing/application/tests/bootstrap.php"
         convertErrorsToExceptions="true"
         convertWarningsToExceptions="true">

    <testsuite name="BagIt Tests">
      <!-- <file>tests/AllTests.php</file>-->
      <directory suffix="AllTests.php">tests</directory>
    </testsuite>


<logging>
 <log type="coverage-html" target="build/coverage" title="BagIt"
      charset="UTF-8" yui="true" highlight="true"
      lowUpperBound="35" highLowerBound="70"/>
 <log type="coverage-clover" target="build/logs/clover.xml"/>
 <log type="junit" target="build/logs/junit.xml" logIncompleteSkipped="false"/>
</logging>

</phpunit>
